<div class="m-lg-5">
    <div *ngIf="mapa">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false">
            <!-- <agm-marker
         *ngFor="let make of markers"
         [latitude]="make.lat"
          [longitude]="make.lng"
          [label]="make.label"
          [markerDraggable]="make.draggable" >
        </agm-marker> -->
            <agm-circle *ngFor="let simple of datosSimples"
            [latitude]="simple.Latitud" [longitude]="simple.Longitud" [radius]="80000" [fillColor]="'red'"
                [circleDraggable]="false" [editable]="false"  (circleClick)="circuloClic($event)"  [fillOpacity]="0.5">
            </agm-circle>
            <!-- <agm-polyline *ngFor="let poli of polilinea">
            <agm-polyline-point [latitude]="poli.latIni" [longitude]="poli.lngIni">
            </agm-polyline-point>
            <agm-polyline-point [latitude]="poli.latFin" [longitude]="poli.lngFin">
            </agm-polyline-point>
        </agm-polyline> -->
        </agm-map>
    </div>

</div>