<footer>
  <div class="container-body">
    <div class="column1">
      <h1>ACM UD</h1>
      <div class="row1">
          <a href="">Inicio</a>
      </div>
      <div class="row1">
        <a href="">Eventos</a>
      </div>
      <div class="row1">
          <a href="">Noticias</a>
      </div>
      <div class="row1">
          <a href="">Quienes somos</a>
      </div>
    </div>
    <div class="column2">
      <h1>Entradas Recientes</h1>
    </div>
    <div class="column3">
      <div class="row2">
        <h1>Grupos de Trabajo</h1>
        <div class="row21">
            <a href="">PyGroup</a>
        </div>
        <div class="row21">
            <a href="">GISAC</a>
        </div>
        <div class="row21">
            <a href="">Maratones de Programacion</a>
        </div>
      </div>
      <div class="row2">
        <h1>Proyectos de Trabajo</h1>
        <div class="row21">
            <a href="">DevOPS</a>
        </div>
        <div class="row21">
            <a href="">Novela Grafica</a>
        </div>
        <div class="row21">
            <a href="">Pagina Web</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-social">
      <div class="social">
        <a href=""><img src="/assets/img/facebookLogo.png"></a>
        <a href=""><img src="/assets/img/githubLogo.png"></a>
        <a href=""><img src="/assets/img/mailLogo.png"></a>
      </div>
    </div>
  <div class="container-foot">
    <div class="copyright">
      <label>Copyright © 2019, ACM, Inc</label>
    </div>
  </div>
</footer>
